html {
  background: #08252c;
}

.container {
  width: 1280px;
  margin: 0 auto;
  overflow: auto;
}
.container .title {
  text-align: center;
  color: #FFA500;
}
.container .title__link {
  display: inline-block;
  color: white;
}
.container .title__link:hover {
  text-decoration: none;
}

.chart-demo {
  float: left;
  width: 640px;
}
